@font-face {
  font-family:  'Kaushan Script';
  src: asset_url("https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet") format("truetype");
  font-weight: normal;
  font-style: normal;
}