.second-header {
  background-color: rgba(242,242,242,0.9);
  height: 55px;
  z-index: 100;
  position: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.8;
}

.header-wrapper {
  position: flex;
}

.cipher-icon {
  font-family: 'Kaushan Script', cursive ;
  letter-spacing: 0.15em;
  text-decoration: none;
  font-size: 26px;
  color: #0178cb;
  display: block;
  text-align: center;
}

