.second-header {
  background: #800000;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.8;
}

.cipher-icon {
  font-family: 'Unica One', "Avenir", "游ゴシック", "YuGothic", "ヒラギノ角ゴ Pro W6", "HIragino Kaku Gothic Pro W6", "HIragino Kaku Gothic Pro", Osaka, Meiryo, "メイリオ", "ＭＳ Ｐゴシック", "MS P Gothic", sans-serif;
  letter-spacing: 0.15em;
  font-size: 50px;
  color: white;
}