
.top-page-header {
  position: fixed;
  background-color: rgba(242,242,242,0.9);
  width: 100%;
  height: 60px;
  z-index: 100;
}

.top-page-wrapper {
  display: flex;
  justify-content: space-around;
}

.cipher-icon {
  margin-right: 10vw;
  font-family: 'Kaushan Script', cursive ;
  color: #0178cb;
  letter-spacing: 0.15em;
  font-size: 26px;
  opacity: 0.8;
  padding-top: 10px;
}

.form-container {
  padding-top: 8px;
}

.search-input  {
  width: 270px;
  margin-right: 5px;
  line-height: 43px;
  border: 1px solid #d8d8d8;
  border-radius: 5px;
}

.search-btn {
  background-color: #57c3e9;
  border-radius: 12px;
  color: antiquewhite;
  font-size: 18px;
  border: 1px solid #57c3e9;
  line-height: 40px;
  width: 40px;
}

.post-btn {
  margin-top: 4px;
  background-color: #BCB912;
  opacity: 0.8;
  width: 105px;
  height: 50px;
  border-radius: 8px;
  padding-top: 10px;
}

.purchase-btn-text {
  color: antiquewhite;
  text-align: center;
}

/* ライブハウス関係者のサインアップ、ログイン */

.a-nav{
  color: #fff;
  text-align: center;
}

.a-parent{
  list-style: none;
  display: flex;
  justify-content: center;
}

.a-login, .a-sign-up {
  position: relative;
  font-family: 'Kaushan Script', cursive;
  font-size: 22px;
}

.has-child::before {
  content: '';
  position: absolute;
  right: 495px;
  top: 28px;
  width: 6px;
  height: 6px;
  border-top: 2px solid #999;
  border-right: 2px solid #999;
  transform: rotate(135deg);
}


.has-child a{
  display: block;
  color: #BCB912;
  opacity: 0.8;
  padding: 20px 3px;
  transition: all .3s;
}

.has-child a:hover{
  color: #BCB912;
}


.a-list {
  opacity: 0.8;
  position: absolute;
  right: 350px;
  top: 43px;
  z-index: 3;
  visibility: hidden;
  opacity: 0;
  transition: all .3s;
  border-radius: 4px;
  display: block;
}

.has-child:hover > .a-list, 
.a-list:hover > li,
.has-child:active > .a-list, 
.a-list:active > li{
  visibility: visible;
  opacity: 1;
}

@media screen and (max-width:768px) {
  .a-nav{
    padding: 0;
  }

  .a-parent{
    display: block;
  }

  .a-list,.a-list li {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    visibility: visible;
    opacity: 1;
    display: none;
    transition: none;
  }
}

/* ライブハウス関係者のサインアップ、ログイン */

/* ユーザー登録 */

.nav {
  padding-top: 10px;
}

.lists-right {
  float: right;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1vh 0;
  list-style: none;
  vertical-align: middle;
}

.name-btn, .logout {
  text-decoration: none;
  margin-right: 3vw;
  color: #0178cb;
  font-size: 20px;
}

.name-btn {
  font-weight: bold;
}

.login, .sign-up, .a-logout, .a-name-btn {
  font-size: 20px;
  text-decoration: none;
  font-family: 'Kaushan Script', cursive ;
  color: #0178cb;
  opacity: 0.8;
}

.a-name-btn {
  padding-right: 25px;
}

.login {
  margin-right: 3vw;
}

/* ユーザー登録 */


