* {
  box-sizing: border-box;
}

.top-page-header {
  position: fixed;
  background-color: rgba(242,242,242,0.9);
  width: 100%;
  height: 55px;
  z-index: 100;
}

.top-page-wrapper {
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.cipher-icon {
  margin-right: 10vw;
  font-family: 'Kaushan Script', cursive ;
  color: #0178cb;
  letter-spacing: 0.15em;
  font-size: 26px;
  text-decoration: none;
  opacity: 0.8;
}

.lists-right {
  float: right;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1vh 0;
  list-style: none;
}

.store-name {
  text-decoration: none;
  margin-right: 3vw;
  font-family: 'Kaushan Script', cursive ;
  color: #0178cb;
  opacity: 1;
  font-weight: bold;
}


.post-btn {
  background: #BCB912;
  opacity: 0.8;
  line-height: 43px;
  margin-top: 5px;
  width: 105px;
  border-radius: 8px;
}

.purchase-btn-text {
  color: antiquewhite;
  text-align: center;
}

.logout {
  text-decoration: none;
  font-family: 'Kaushan Script', cursive ;
  color: #0178cb;
  opacity: 0.8;
}

.login {
  text-decoration: none;
  line-height: 32px;
  margin-right: 3vw;
  font-family: 'Kaushan Script', cursive ;
  color: #0178cb;
  opacity: 0.8;
}

.sign-up {
  text-decoration: none;
  font-family: 'Kaushan Script', cursive ;
  color: #0178cb;
  opacity: 0.8;
}


