
 <% if (admin_user_signed_in? && current_admin_user.liked_by?(@event.id)) || (user_signed_in? && current_user.liked_by?(@event.id)) %>
   <td>
    <%= link_to destroy_like_path(@event), method: :DELETE, remote: true do %>
    <div class="like-count">
      <span class="fa fa-heart like-btn"><%= @event.likes.count %>
    </div>
    <% end %>
  </td>
 <% else %>
   <td>
    <%= link_to create_like_path(@event), method: :POST, remote: true do %>
    <div class="like-count">
      <span class="fa fa-heart-o like-btn"><%= @event.likes.count %>
    </div>
    <% end %>
   </td>
 <% end %>
