/* イベント一覧 */

.event-contents {
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10vh 0;
}

.event-contents>.title {
  font-size: 5vh;
  line-height: 1.4;
  font-weight: bold;
  color: #000080;
  opacity: 0.8;
}



.event-lists {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.event-lists>.event-list {
  width: 37vh;
  padding: 1vw;
  background-color: #FFF;
  margin-right: 50px;
}


.event-img-content {
  position: relative;
}

.event-img-list {
  width: 41vh;
  height: 37vh;
}

.event-info {
  background-color: #FFF;
  color: black;
  padding: 1vw;
}

.event-details {
  font-size: 1.5vh;
}

.event-lists .slick-slide{
  margin: 0 10px;
}

.slick-prev,
.slick-next {
  position: absolute;
  top: 42%;
  cursor:pointer;
  outline: none;
  border-top: 2px solid #666;
  border-right: 2px solid #666;
  height: 15px;
  width: 15px;
}

.slick-prev {
  left: -1.5%;
  transform: rotate(-135deg);
}

.slick-next {
  right: -1.5%;
  transform: rotate(45deg);
}

.slick-dots {
  text-align: center;
  margin: 20px 0 0 0;
}


.slick-dot li {
  display: inline-block;
  margin: 0 5px;
}

.slick-dots button {
  color: transparent;
  outline: none;
  width: 8px;
  height: 8px;
  display: block;
  border-radius: 50%;
  background: #ccc;
}


.slick-dots .slick-active button{
  background: #333;
}


/* イベント一覧 */

/* 店舗一覧 */

.store-contents {
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10vh 0;
}

.store-contents>.title {
  font-size: 5vh;
  line-height: 1.4;
  font-weight: bold;
  color: #000080;
  opacity: 0.8;
}


.store-lists {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.store-lists>.list {
  width: 37vh;
  padding: 1vw;
  background-color: #FFF;
}


.store-img-content {
  position: relative;
}

.store-img {
  width: 33vh;
  height: 33vh;
}

.store-info {
  background-color: #FFF;
  color: black;
  padding: 1vw;
}

.store-name {
  font-size: 2.5vh;
}

.store-details {
  font-size: 1.5vh;
  display: flex;
  justify-content: space-between;
}

/* 店舗一覧 */

