a {
  text-decoration:none; 
}

/* イベント一覧 */


.index-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.events-title, .store-title {
  height: 200px;
  font-size: 45px;
  letter-spacing: 5px;
  font-weight: 600;
  color: #1e2022;
  text-align: center;
  padding: 91px 0 40px 0;
  font-family: 'arial black';
}

.event-contents {
  width: 100%;
  margin-bottom: 300px;
}

.event-lists {
  height: 380px;
  width: 94%;
  margin: 0 auto;
}

.event-lists  img{
  width: 100%;
  height: 66vh;
  border-radius: 8px;
}

.event-lists .slick-slide {
  margin: 0 10px;
}

.event-date {
  font-family: 'arial black';
  padding-top: 15px;
  font-size: 18px;
  color: #1e2022;
  letter-spacing: 2px;
  font-weight: 600;
  text-decoration: none;
}

.event-name {
  font-size: 15px;
  font-weight: 700;
  line-height: 1.7;
  color: #1e2022;
}

.event-list>p {
  text-decoration: none;
}



.admin-show-btn {
  color: #0178cb;
  padding-top: 40px;
  font-size: 20px;
  font-family: 'Kaushan Script', cursive ;

}

.slick-prev,
.slick-next {
  position: absolute;
  top: 50%;
  cursor:pointer;
  outline: none;
  border-top: 2px solid #666;
  border-right: 2px solid #666;
  height: 40px;
  width: 40px;
}

.slick-prev {
  left: -1.5%;
  transform: rotate(-135deg);
}

.slick-next {
  right: -1.5%;
  transform: rotate(45deg);
}

.slick-dots {
  margin: 20px 0 0 0;
  text-align: center;
}


.slick-dots li {
  display: inline-block;
  margin: 0 5px;
}

.slick-dots button {
  background: #989797;
  outline: none;
  width: 8px;
  height: 8px;
  display: block;
  border-radius: 50%;
  overflow: hidden;
  background: #989797;
  white-space: nowrap;
}


.slick-dots .slick-active button{
  background: #0178cb;
}

/* イベント一覧 */

/* 店舗一覧 */
.store-contents {
  background-color: #FFF;
}


.store-lists img {
  width: 100%;
  height: 43vh;
  border-radius: 8px;
}

.store-lists .slick-slide {
  margin: 0 10px;
}



/* 店舗一覧 */

