
.event-wrapper {
  font-family: "Hiragino Kaku Gothic Pro W3","ヒラギノ角ゴ Pro W3",Osaka,"ＭＳ ゴシック",sans-serif;
  margin: 0 auto;
  width: 80vw;
  min-width: 450px;
  padding: 10vh 15vw;
}

.pre-img img {
  margin-top: 5px;
  height: 200px;
  width: 350px;
}

.new_image img {
  margin-top: 5px;
  height: 200px;
  width: 350px;
}

.img-upload {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 20px;
}


.weight-bold-text {
  font-weight: bold;
  min-width: 170px;
  margin-bottom: 10px;
}

.click-upload>p {
  margin-bottom: 15px;
}

.event-text {
  font-weight: bold;
  min-width: 170px;
}

.form-enter {
  margin-top: 20px;
}

.input-box {
  width: 100%;
    padding: 16px 16px 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 16px;
    resize: none;
}

.form-group {
  padding-bottom: 20px;
}

.event-date-wrap {
  padding-bottom: 20px;
  margin-top: 10px;
}


.txt {
  font-weight: bold;
  min-width: 170px;
  margin: 10px 0;
}

