

.login-btn, .register-btn, .event-post-btn {
  text-align: center;
  padding:25px 0 50px;
  letter-spacing: 1.5em;
}

.login-btn{
  width: 30vw;
  margin: 20px auto;
}


.login-submit-btn, .register-submit-btn, .event-submit-btn {
  width: 100%;
  color: white;
  background: navy;
  opacity: 0.9;
  border: 1px solid navy;
  line-height: 48px;
  font-size: 14px;
  cursor: pointer;
}


