.purchase-btn {
  width: 120px;
  background: #000080;
  text-align: center;
  border-radius: 4%;
  bottom: 32px;
  right: 32px;
  position: fixed;
  padding: 15px;
  text-decoration: none;
  z-index: 10;
}

.purchase-btn-text {
  color: #fff;
  display: block;
  font-size: 18px;
  margin-bottom: 5px;
}

.purchase-btn-icon {
  width: 60%;
}

.login-btn, .register-btn, .event-post-btn {
  text-align: center;
  padding:25px 0 50px;
  letter-spacing: 1.5em;
}


.login-submit-btn, .register-submit-btn, .event-submit-btn {
  width: 100%;
  color: white;
  background: navy;
  opacity: 0.9;
  border: 1px solid navy;
  line-height: 48px;
  font-size: 14px;
  cursor: pointer;
}


